.win-match {
    background: lightgreen;
}

.lose-match {
    background: pink;
}

.no-match {
    background: lightgrey;
}

td {
    text-align: center;
    line-height: 24px;
    width: 200px;
}

table {
    width: 95%;
    margin-bottom: 120px;
}

table tr:first-child,
tr td:first-child {
    font-weight: bold;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}