.win-match {
    background: lightgreen;
}

.lose-match {
    background: pink;
}

.draw-match {
    /*background: linear-gradient(23deg, lightgreen 50%, pink 50%);*/
    background: rgb(193,174,215);
}

.no-match {
    background: lightgrey;
}

td {
    text-align: center;
    line-height: 24px;
}

table {
    width: 100%;
    margin-bottom: 120px;
}

table tr:first-child td:first-child {
    background: white;
}

.result-matrix tr:first-child {
    background: salmon;
}

.result-matrix tr td:first-child {
    background: limegreen;
}

table tr:first-child,
tr td:first-child {
    font-weight: bold;
}

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}