.lose-round + td,
.win-round {
    background: lightgreen;
}

.win-round + td,
.lose-round {
    background: pink;
}

.draw + td,
.draw {
    background: lightgrey;
}

td {
    text-align: center;
}

td > img {
    width: 80px;
}


table tr:first-child,
tr td:first-child {
    font-weight: bold;
}

table,
#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
}